# fly.toml app configuration file generated for smart-land-management-api on 2026-03-01T15:01:35+05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'smart-land-management-api'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile.backend'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/health'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
